<h1><%= t('.header', title: @passing_test.test.title) %></h1>

<p>
  <%= t('.before_percentage') %>
  <span class="<%= @passing_test.passed? ? "pass" : "fail" %>">
    <%= @passing_test.percentage_of_completion %>%
  </span>
  <%= t('.after_percentage') %>
</p>

<%= link_to t('.back'), tests_path %>