<%= form_with url: sessions_path, local: true do |f| %>
  <%= flash_message(:alert) %>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email, id: :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.text_field :password, id: :password %>
  </p>

  <p>
    <%= f.submit 'Sign In'%>
  </p>
<% end %>