<h2><%= t('.header')%> </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render 'shared/errors', entity: resource %>

  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, autofocus: true %>
  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name%>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email, autocomplete: "email" %>
  </p>

  <p>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('.password_min_char', count: @minimum_password_length) %></em>
    <% end %><br>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
