<%= form_with model: [:admin, @test, @question], local: true do |f| %>
  <%= render 'shared/errors', entity: @question %>

  <p class="form-group">
    <%= f.label :body %><br/>
    <%= f.text_area :body, id: :question_body, class: "form-control" %>
  </p>

  <p class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </p>
<% end %>