<h1 class="mb-4">
  <%= t('.header', title: @question.test.title) %>
</h1>

<p>
  <%= @question.body %>
</p>

<h2><%= t('.answer', count: @question.answers.count) %></h2>

<%= link_to t('.new_answer'), new_admin_question_answer_path(@question), class: "btn btn-primary" %>

<ol class="mt-4 mb-4">
  <%= render @question.answers %>
</ol>

<%= link_to t('.edit'), edit_admin_question_path(@question) %> |
<%= link_to t('.back'), admin_test_path(@question.test) %>