<h1 class="mb-4">
  <%= t('.header') %>
</h1>

<%= link_to t('.new_test'), new_admin_test_path, class: "btn btn-primary mb-4" %>

<%= render 'shared/errors', entity: @test %>

<table class="table" data-inline-edit="title">
  <thead>
    <tr>
      <th class="w-100" data-sort-by="title"><%= t('.table.title') %></th>
      <th class="text-nowrap"><%= t('.table.questions_count') %></th>
      <th class="text-nowrap"><%= t('.table.level') %></th>
      <th class="text-nowrap"><%= t('.table.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>