<h1 class="mb-4">
  <%= @test.title %>
</h1>
<p><%= t('.description', category: @test.category.title, level: @test.level)%></p>



<div class="mb-4">
  <%= link_to t('.new_question'), new_admin_test_question_path(@test), class: "btn btn-primary mb-4" %>
  <table class="table">
    <thead>
      <tr>
        <th class="w-100"><%= t('.table.question') %></th>
        <th><%= t('.table.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @test.questions %>
    </tbody>
  </table>
</div>

<%= link_to t('.back'), admin_root_path %> |
<%= link_to t('.edit'), edit_admin_test_path(@test) %>