<h1><%= t('.header') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.table.title') %></th>
      <th><%= t('.table.questions_count') %></th>
      <th><%= t('.table.level') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
<table>
