<h1 class="mb-4">
  <%= t('.header') %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th class="w-100" data-sort-by="title"><%= t('.table.title') %></th>
      <th class="text-nowrap"><%= t('.table.questions_count') %></th>
      <th class="text-nowrap"><%= t('.table.level') %></th>
      <th class="text-nowrap"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
