<hr/>
<div class="container">
  <footer>
    <p><%= link_to t('.add_feedback'), new_feedback_path %></p>
    <p><%= current_year %> | <%= t('.name') %> | <%= github_url('fatwebdev', 'test-guru') %></p>
    <p><%= t('.description') %></p>
    <p><%= link_to t('.school'), 'http://thinknetica.com/', target: :_blank %></p>
  </footer>
</div>